* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Orbitron', sans-serif;
}

body {
    background: linear-gradient(45deg, #060605, #020202, #07FB11, #0C0F0C, #0C0F0C);
    background-size: 1000% 1000%;
    animation: GradientBackground 10s ease infinite;
  }

  @keyframes GradientBackground {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

h1 {
  color: #c1c1c1;
    text-align:center;
}

form {
    width: 40%;
    height: 550px;
    min-width: 340px;
    background: #3d3c3c35;
    border-radius: 8px;
    box-shadow: 0, 15px 30px rgb(0, 0, 0, 0.9);
    margin: 100px auto;
}

input,
textarea {
  background-color: #c1c1c1;
    min-width: 320px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #c1c1c1;
    margin-top: 20px;
    height: 40px;
    padding-left: 10px;
    box-shadow: 0, 15px 30px rgb(0, 0, 0, 0.9);

}

textarea {
    height: 200px;
    padding-top: 10px;
    margin-bottom: 30px;
}

button {
    color: #242323;
    background-color: #07FB11;
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0, 15px 30px rgb(0, 0, 0, 0.9);
    cursor: pointer;
    border: none;
}

button:hover{
  opacity: 1.5;
}

button:active{
  opacity: 1.8;
}